<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <!-- Image and text -->
<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">
    <img src="/assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    NeoCovoit
  </a>
</nav>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto p-2">
      <li class="nav-item active">
        <a class="nav-link" href="app-root">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mes Trajets</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-success" (click)="connect()">
          <i  class="fa fa-check"></i>
        </button>
      </li>
    </ul>
    <nav class="form-inline my-2 my-lg-0">
      <form class="form-inline">
        <div class="input-group mr-lg-0">
          <span class="input-group-addon" id="departSearch">De</span>
          <input type="text" class="form-control" placeholder="Départ">
          <span class="input-group-addon" id="destinationSearch">À</span>
          <input type="text" class="form-control" placeholder="Destination">
          <span class="input-group-addon" id="dateSearch">Le</span>
          <input type="text" class="form-control" placeholder="Date" >
        </div>
        <button class="btn btn-outline-success my-sm-1" type="submit">Recherche</button>
      </form>
    </nav>
  </div>
</nav>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class="trajets" *ngIf="lesTrajets">
      <table class="table">
        <thead class="h">
          <tr class="h">
            <th class="h">Depart</th>
            <th class="h">Destination</th>
            <th class="h">Date</th>
            <th class="h">Prix</th>
            <th class="h">Places</th>
            <th class="h">Options</th>
          </tr>
        </thead>
        <tbody>
          
          <tr class="trajet" *ngFor="let trajet of lesTrajets">

            <td>{{trajet.depart}}</td>
            <td>{{trajet.destination}}</td>
            <td>{{trajet.date | date}}</td>
            <td>{{trajet.prix}}</td>
            <td>{{trajet.nbrPlaces}}</td>
            
            <td>
              <button class="btn btn-success" (click)="reserverTrajet(trajet)">
                <i  class="fa fa-check"></i>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>


    <form>
      <tr class="form-row">

        <td >
          <input type="text" name="depart" id="depart" [(ngModel)]="newTrajet.depart" placeholder="Départ" class="form-control">
        </td>
        <td >
          <input type="text" name="destination" id="destination" [(ngModel)]="newTrajet.destination" placeholder="Déstination" class="form-control">
        </td>
        <td >
          <input type="Date" name="date" id="date" [(ngModel)]="newTrajet.date" placeholder="Date" class="form-control">
        </td>
        <td >
          <input type="text" name="prix" id="prix" [(ngModel)]="newTrajet.prix" placeholder="Prix" class="form-control">
        </td>
        <td>
          <input type="text" name="nbrPlaces" id="nbrPlaces" [(ngModel)]="newTrajet.nbrPlaces" placeholder="Places" class="form-control">
        </td>
        <td>
          <button type="submit" class="btn btn-primary" (click)="create()">Proposer</button>
        </td>
      </tr>
    </form>
  </div>
  <div class="col-md-2">
    
  </div>
